PORT=3140
DATA_DIR=../../sites/altered.xjk.yt/data
DB_FILE=../../sites/altered.xjk.yt/data/tracker-aggregator.sqlite
AGGREGATOR_INGEST_TOKEN=
DASH_ADMIN_TOKEN=
DASH_TRACKER_ADMIN_TOKEN=
NADEO_GLOBAL_THROTTLE_FILE=../../sites/altered.xjk.yt/data/nadeo-global-throttle.txt
NADEO_GLOBAL_MIN_REQUEST_GAP_MS=3000
