PORT=3141
TRACKER_DISPLAYNAME_ENABLED=1
TRACKER_DISPLAYNAME_SCHEDULER_ENABLED=1
TRACKER_DISPLAYNAME_MAINTENANCE_INTERVAL_SECONDS=60
TRACKER_DISPLAYNAME_STALE_AFTER_SECONDS=86400
TRACKER_DISPLAYNAME_BATCH_SIZE=50
TRACKER_DISPLAYNAME_MAX_ACCOUNTS_PER_CYCLE=200

TRACKER_DISPLAYNAME_PROJECT_KEY=local-tracker-displayname
TRACKER_DISPLAYNAME_PROJECT_NAME=Local Tracker Displayname
TRACKER_DISPLAYNAME_SOURCE_LABEL=tracker-displayname

TRACKER_DISPLAYNAME_AGGREGATOR_BASE_URL=http://127.0.0.1:3140/api
TRACKER_DISPLAYNAME_AGGREGATOR_TOKEN=
TRACKER_DISPLAYNAME_REQUEST_TIMEOUT_MS=15000
TRACKER_DISPLAYNAME_MIN_REQUEST_GAP_MS=5000

UBI_OAUTH_CLIENT_ID=
UBI_OAUTH_CLIENT_SECRET=
UBI_OAUTH_TOKEN_URL=https://api.trackmania.com/api/access_token
TRACKER_DISPLAYNAME_API_BASE_URL=https://api.trackmania.com
TRACKER_DISPLAYNAME_SCOPE=clubs
TRACKER_DISPLAYNAME_USER_AGENT=altered project by ar, contact @ar___ on discord

