PORT=3012
TOOL_PATH=../tools/EmbedRaceValidationGhost.exe
REPLAY_EXTRACT_TOOL_PATH=../tools/ReplayDataExtractor.exe
GBXLZO_PATH=../../Strip-RaceValidationGhost/tools/gbxlzo.exe
FRONTEND_DIR=../frontend
UPLOAD_DIR=../data/uploads
OUTPUT_DIR=../data/processed
MAX_FILE_MB=128
TOOL_TIMEOUT_MS=180000
EXTRACT_TIMEOUT_MS=180000
KEEP_FILES=false
