<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Admin Login</title>

  <link rel="icon" href="/favicon.svg" type="image/svg+xml">

  <link rel="stylesheet" href="../static/css/admin.css">
  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh
    }

    form {
      background: #29313c;
      padding: 2rem 2.5rem;
      border-radius: 12px;
      box-shadow: 0 6px 18px rgba(0, 0, 0, .6);
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 320px;
      z-index: 1
    }
  </style>
</head>

<body>

  <form method="post" action="">
    <h2 style="margin-top:0">Admin Login</h2>

    {% with msgs = get_flashed_messages(with_categories=true) %}
      {% if msgs %}
        {% for cat,msg in msgs %}
          <div class="flash {{cat}}">{{msg}}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="password" name="password" placeholder="Password" required>
    <button class="btn btn-secondary" type="submit">Enter</button>
  </form>

  <script>
    window.addEventListener("DOMContentLoaded", () => {
      setTimeout(() => {
        document.querySelectorAll(".flash").forEach(el => {
          el.classList.add("hide");
          el.addEventListener("animationend", () => el.remove(), { once: true });
        });
      }, 5000);
    });
  </script>

</body>

</html>
