PORT=3130
FRONTEND_DIR=../../sites/altered.xjk.yt/frontend
DATA_DIR=../../sites/altered.xjk.yt/data
DB_FILE=../../sites/altered.xjk.yt/data/altered-service.sqlite

ALTERED_ADMIN_TOKEN=
TRACKER_PUBLIC_BASE_URL=http://127.0.0.1:3131/api/v1
TRACKER_ADMIN_BASE_URL=http://127.0.0.1:3131/api/v1/admin
TRACKER_ADMIN_TOKEN=
TRACKER_ADMIN_USERNAME=
TRACKER_ADMIN_PASSWORD=
TRACKER_LEADERBOARD_PUBLIC_BASE_URL=http://127.0.0.1:3143/api/v1
TRACKER_LEADERBOARD_ADMIN_BASE_URL=http://127.0.0.1:3143/api/v1/admin
TRACKER_LEADERBOARD_ADMIN_TOKEN=
TRACKER_LEADERBOARD_ADMIN_USERNAME=
TRACKER_LEADERBOARD_ADMIN_PASSWORD=
TRACKER_PROXY_TIMEOUT_MS=15000
TRACKER_DISPLAYNAME_BASE_URL=http://127.0.0.1:3141/api/v1
TRACKER_CLUB_BASE_URL=http://127.0.0.1:3142/api/v1
AGGREGATOR_BASE_URL=http://127.0.0.1:3140/api/v1
AGGREGATOR_TOKEN=
ALTERED_TRACKER_DISPLAYNAME_ENABLED=1
ALTERED_TRACKER_DISPLAYNAME_FALLBACK_LOCAL=1
ALTERED_TRACKER_CLUB_ENABLED=1
ALTERED_TRACKER_CLUB_FALLBACK_LOCAL=1
ALTERED_WR_WEBHOOK_SECRET=change-me

UBI_OAUTH_ENABLED=0
UBI_OAUTH_CLIENT_ID=
UBI_OAUTH_CLIENT_SECRET=
UBI_OAUTH_AUTHORIZE_URL=https://api.trackmania.com/oauth/authorize
UBI_OAUTH_TOKEN_URL=https://api.trackmania.com/api/access_token
UBI_OAUTH_USERINFO_URL=https://api.trackmania.com/api/user
UBI_OAUTH_SCOPE=clubs
UBI_OAUTH_CALLBACK_PATH=/auth/ubisoft/callback
UBI_OAUTH_ALLOWED_SUBJECTS=
UBI_OAUTH_ALLOWED_USERNAMES=
ALTERED_SESSION_COOKIE_NAME=altered_admin_session
ALTERED_SESSION_TTL_SECONDS=2592000
ALTERED_OAUTH_STATE_TTL_SECONDS=600
ALTERED_OAUTH_FALLBACK_LOCAL_ONLY=0

ALTERED_LIVE_MONITOR_ENABLED=1
ALTERED_LIVE_MONITOR_SCHEDULE_MODE=daily
ALTERED_LIVE_MONITOR_DAILY_HOUR_UTC=3
ALTERED_LIVE_MONITOR_DAILY_MINUTE_UTC=0
ALTERED_LIVE_MONITOR_INTERVAL_SECONDS=21600
ALTERED_LIVE_DISCOVERY_ENABLED=1
ALTERED_LIVE_DISCOVERY_INTERVAL_SECONDS=3600
ALTERED_LIVE_DISCOVERY_CAMPAIGN_LIMIT=25
ALTERED_LIVE_DISCOVERY_ACTIVITY_PAGE_SIZE=100
ALTERED_LIVE_CLUB_ID=24231
ALTERED_LIVE_ACTIVITY_PAGE_SIZE=250
ALTERED_LIVE_ACTIVITY_ACTIVE_ONLY=0
ALTERED_LIVE_FETCH_MAP_DETAILS=1
ALTERED_LIVE_AUTH_MODE=basic
ALTERED_LIVE_DEDI_LOGIN=
ALTERED_LIVE_DEDI_PASSWORD=
ALTERED_LIVE_ACCESS_TOKEN=
ALTERED_LIVE_REFRESH_TOKEN=
ALTERED_LIVE_API_BASE_URL=https://live-services.trackmania.nadeo.live/api/token
ALTERED_LIVE_USER_AGENT=altered project by ar, contact @ar___ on discord
ALTERED_LIVE_REQUEST_TIMEOUT_MS=15000
ALTERED_LIVE_MIN_REQUEST_GAP_MS=1800

ALTERED_MAPPER_NAME_TRACKING_ENABLED=1
ALTERED_MAPPER_NAME_TRACKING_API_BASE_URL=https://api.trackmania.com
ALTERED_MAPPER_NAME_TRACKING_TOKEN_URL=
ALTERED_MAPPER_NAME_TRACKING_SCOPE=clubs
ALTERED_MAPPER_NAME_TRACKING_REQUEST_TIMEOUT_MS=15000
ALTERED_MAPPER_NAME_TRACKING_MIN_REQUEST_GAP_MS=1800
ALTERED_MAPPER_NAME_TRACKING_USER_AGENT=altered project by ar, contact @ar___ on discord
ALTERED_MAPPER_SYNC_SCHEDULER_ENABLED=1
ALTERED_MAPPER_SYNC_BOOTSTRAP_INTERVAL_SECONDS=60
ALTERED_MAPPER_SYNC_MAINTENANCE_INTERVAL_SECONDS=60
ALTERED_MAPPER_SYNC_PRIORITY_INTERVAL_SECONDS=60
ALTERED_MAPPER_SYNC_BATCH_SIZE=50
ALTERED_MAPPER_SYNC_PRIORITY_BATCH_SIZE=25
ALTERED_MAPPER_SYNC_PRIORITY_TOP_LIMIT=250
ALTERED_MAPPER_SYNC_PRIORITY_REFRESH_SECONDS=600
ALTERED_MAPPER_SYNC_CACHE_TTL_SECONDS=86400
ALTERED_MAPPER_SYNC_PRIORITY_CACHE_TTL_SECONDS=1800
ALTERED_MAPPER_SYNC_KNOWN_ACCOUNTS_REFRESH_SECONDS=900

ALTERED_OPS_MONITOR_ENABLED=1
ALTERED_OPS_MONITOR_TICK_SECONDS=120
ALTERED_OPS_MONITOR_MAX_MAPS_PER_RUN=5000
