VALIDIFIER_INTERNAL_BASE_URL=http://127.0.0.1:8090
VALIDIFIER_INTERNAL_TOKEN=
VALIDIFIER_INTERNAL_TOKEN_HEADER=Authorization
VALIDIFIER_INTERNAL_TOKEN_PREFIX=Bearer
VALIDIFIER_INTERNAL_ACCESS_TOKEN=
# Required whenever VALIDIFIER_INTERNAL_BASE_URL is configured.
VALIDIFIER_INTERNAL_SUBMISSION_SECRET=
VALIDIFIER_REPLAY_BUILD_ID=
VALIDIFIER_PUBLIC_REQUEST_TIMEOUT_MS=15000
VALIDIFIER_PUBLIC_CACHE_TTL_MS=15000
VALIDIFIER_PUBLIC_DATA_DIR=../../sites/validifier.xjk.yt/data
VALIDIFIER_PUBLIC_DB_FILE=../../sites/validifier.xjk.yt/data/validifier-public.sqlite
VALIDIFIER_PUBLIC_ARTIFACT_ROOT=../../sites/validifier.xjk.yt/data/artifacts
VALIDIFIER_PUBLIC_ARTIFACT_TTL_MS=604800000
VALIDIFIER_PUBLIC_SUBMISSION_TTL_MS=604800000
VALIDIFIER_PUBLIC_UPLOAD_BYTES_PER_DAY=268435456
VALIDIFIER_PUBLIC_UPLOAD_GLOBAL_BYTES_PER_DAY=2147483648
VALIDIFIER_PUBLIC_UPLOAD_MAX_CONCURRENT=2
VALIDIFIER_PUBLIC_UPLOAD_GLOBAL_MAX_CONCURRENT=8
