PORT=3037
FRONTEND_DIR=../../sites/console.xjk.yt/frontend
CONSOLE_HUB_DATA_DIR=../../sites/console.xjk.yt/data
CONSOLE_HUB_DB_FILE=../../sites/console.xjk.yt/data/bingo-bridge.sqlite
CONSOLE_HUB_PUBLIC_BASE_PATH=/bingo

UBI_OAUTH_ENABLED=1
UBI_OAUTH_CLIENT_ID=
UBI_OAUTH_CLIENT_SECRET=
UBI_OAUTH_AUTHORIZE_URL=https://api.trackmania.com/oauth/authorize
UBI_OAUTH_TOKEN_URL=https://api.trackmania.com/api/access_token
UBI_OAUTH_USERINFO_URL=https://api.trackmania.com/api/user
UBI_OAUTH_SCOPE=clubs
CONSOLE_HUB_UBI_OAUTH_CALLBACK_PATH=/bingo/auth/ubisoft/callback
UBI_OAUTH_ALLOWED_SUBJECTS=
UBI_OAUTH_ALLOWED_USERNAMES=

TM_SERVICE_ACCOUNT_LOGIN=
TM_SERVICE_ACCOUNT_PASSWORD=

AGGREGATOR_BASE_URL=
AGGREGATOR_TOKEN=
TRACKER_DISPLAYNAME_BASE_URL=

CONSOLE_HUB_BINGO_TCP_HOST=127.0.0.1
CONSOLE_HUB_BINGO_TCP_PORT=5000
CONSOLE_HUB_BINGO_PLUGIN_VERSION=5.0
CONSOLE_HUB_BINGO_AUTH_SECRET=
CONSOLE_HUB_BINGO_ALLOW_DEV_KEY_EXCHANGE=0
CONSOLE_HUB_BINGO_HTTP_BASE_URL=

CONSOLE_HUB_CLUB_ID=138640
CONSOLE_HUB_CLUB_LABEL=Bingo On Console
CONSOLE_HUB_CLUB_ROOT_NAME=Rooms
CONSOLE_HUB_ROOM_REGION=eu-west
CONSOLE_HUB_ROOM_MAX_PLAYERS=1
CONSOLE_HUB_ROOM_SCRIPT=TrackMania/TM_TimeAttack_Online.Script.txt

CONSOLE_HUB_VERIFY_INTERVAL_SECONDS=60
CONSOLE_HUB_VERIFY_RETRY_SECONDS=30
CONSOLE_HUB_MANUAL_CHECK_LIMIT=10
CONSOLE_HUB_MANUAL_CHECK_WINDOW_MS=60000
CONSOLE_HUB_DISPLAYNAME_CACHE_TTL_MS=21600000
CONSOLE_HUB_REQUEST_TIMEOUT_MS=15000
CONSOLE_HUB_WEB_PLAYER_TTL_MS=43200000
CONSOLE_HUB_CONSOLE_ROOM_TTL_MS=86400000
CONSOLE_HUB_CONSOLE_MATCH_TTL_MS=86400000
CONSOLE_HUB_LIFECYCLE_SWEEP_INTERVAL_MS=300000

NADEO_GLOBAL_THROTTLE_FILE=../../sites/console.xjk.yt/data/nadeo-global-throttle.txt
NADEO_GLOBAL_MIN_REQUEST_GAP_MS=200
CONSOLE_HUB_USER_AGENT=console.xjk.yt/1.0 (+https://xjk.yt/)
