PORT=3131
FRONTEND_DIR=../../sites/tracker.xjk.yt/frontend
DATA_DIR=../../sites/altered.xjk.yt/data
DB_FILE=../../sites/altered.xjk.yt/data/altered-tracker.sqlite

ALTERED_ADMIN_TOKEN=
TRACKER_ADMIN_TOKEN=
TRACKER_ADMIN_USERNAME=
TRACKER_ADMIN_PASSWORD=
TRACKER_ADMIN_SESSION_COOKIE_NAME=tracker_admin_session
TRACKER_ADMIN_SESSION_TTL_SECONDS=43200
TRACKER_ADMIN_ALLOW_OPEN=0
TRACKER_ENABLED=1
TRACKER_MODE=wr
TRACKER_LEADERBOARD_TOP_N=100
TRACKER_PROVIDER=noop
TRACKER_TICK_SECONDS=15
TRACKER_BATCH_SIZE=6
TRACKER_MAX_CHECK_INTERVAL_SECONDS=30
TRACKER_NADEO_AUTH_MODE=basic
TRACKER_NADEO_DEDI_LOGIN=
TRACKER_NADEO_DEDI_PASSWORD=
TRACKER_NADEO_LIVE_ACCESS_TOKEN=
TRACKER_NADEO_LIVE_REFRESH_TOKEN=
TRACKER_TOKEN_CACHE_FILE=../../sites/altered.xjk.yt/data/nadeo-token-cache.json
TRACKER_LIVE_GROUP_UID=Personal_Best
TRACKER_LIVE_ONLY_WORLD=1
TRACKER_USER_AGENT=tracker project by ar, contact @ar___ on discord
TRACKER_REQUEST_TIMEOUT_MS=12000
TRACKER_MIN_REQUEST_GAP_MS=5000
TRACKER_WR_WEBHOOK_ENABLED=1
TRACKER_WR_WEBHOOK_URL=http://127.0.0.1:3130/api/v1/webhook/wr
TRACKER_WR_WEBHOOK_SECRET=change-me
TRACKER_WR_WEBHOOK_TIMEOUT_MS=5000

TRACKER_AGGREGATOR_ENABLED=1
TRACKER_AGGREGATOR_BASE_URL=http://127.0.0.1:3140/api
TRACKER_AGGREGATOR_TOKEN=
TRACKER_AGGREGATOR_PROJECT_KEY=local-tracker-main
TRACKER_AGGREGATOR_PROJECT_NAME=Local Tracker Main
TRACKER_AGGREGATOR_SOURCE_LABEL=local
TRACKER_AGGREGATOR_TIMEOUT_MS=5000
TRACKER_INSTANCE_ID=local-tracker-main
TRACKER_INSTANCE_NAME=Local Tracker Main

